.search-result-page-child {
  position: absolute;
  top: 1142px;
  left: 0;
  width: 244px;
  height: 242px;
  object-fit: cover;
  /*  */
}

.group-child,
.group-inner,
.group-item,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 173.98px;
  background-color: var(--color-gainsboro);
  width: 37.22px;
  height: 5.66px;
}

.group-inner,
.group-item,
.rectangle-div {
  left: 0;
  width: 155.37px;
}

.group-inner,
.rectangle-div {
  top: 26.7px;
  background-color: var(--color-midnightblue);
  width: 211.2px;
}

.rectangle-div {
  top: 53.41px;
  left: 114.1px;
  width: 97.11px;
}

.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5 {
  position: absolute;
  top: 53.41px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 98.72px;
  height: 5.66px;
}

.group-child2,
.group-child3,
.group-child4,
.group-child5 {
  top: 80.11px;
  left: 166.7px;
  width: 44.51px;
}

.group-child3,
.group-child4,
.group-child5 {
  left: 0;
  width: 144.85px;
}

.group-child4,
.group-child5 {
  top: 106.82px;
  left: 204.73px;
  width: 6.47px;
}

.group-child5 {
  left: 0;
  background-color: var(--color-midnightblue);
  width: 192.59px;
}

.group-child10,
.group-child11,
.group-child6,
.group-child7,
.group-child8,
.group-child9 {
  position: absolute;
  top: 133.52px;
  left: 114.1px;
  background-color: var(--color-gainsboro);
  width: 97.11px;
  height: 5.66px;
}

.group-child10,
.group-child11,
.group-child7,
.group-child8,
.group-child9 {
  left: 0;
  width: 98.72px;
}

.group-child10,
.group-child11,
.group-child8,
.group-child9 {
  top: 160.22px;
  left: 152.13px;
  width: 59.07px;
}

.group-child10,
.group-child11,
.group-child9 {
  left: 0;
  width: 130.28px;
}

.group-child10,
.group-child11 {
  top: 186.93px;
  left: 183.69px;
  width: 27.51px;
}

.group-child11 {
  left: 98.72px;
  background-color: var(--color-midnightblue);
  width: 72.02px;
}

.group-child12,
.group-child13,
.group-child14,
.group-child15 {
  position: absolute;
  top: 213.63px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 211.2px;
  height: 5.66px;
}

.group-child13,
.group-child14,
.group-child15 {
  top: 240.34px;
  left: 136.76px;
  width: 74.45px;
}

.group-child14,
.group-child15 {
  left: 0;
  width: 118.95px;
}

.group-child15 {
  top: 186.93px;
  width: 83.35px;
}

.rectangle-parent {
  position: relative;
  width: 211.2px;
  height: 246px;
}

.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 152.84px;
  height: 5.57px;
}

.group-child17,
.group-child18,
.group-child19,
.group-child20,
.group-child21 {
  position: absolute;
  top: 26.27px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 207.77px;
  height: 5.57px;
}

.group-child18,
.group-child19,
.group-child20,
.group-child21 {
  top: 52.54px;
  left: 112.24px;
  width: 95.53px;
}

.group-child19,
.group-child20,
.group-child21 {
  top: 0;
  left: 172px;
  width: 36px;
  height: 6px;
}

.group-child20,
.group-child21 {
  top: 52.54px;
  left: 0;
  width: 97.12px;
  height: 5.57px;
}

.group-child21 {
  top: 78.81px;
  left: 152.84px;
  background-color: var(--color-midnightblue);
  width: 54.93px;
}

.group-child22,
.group-child23,
.group-child24 {
  position: absolute;
  top: 78.81px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 142.49px;
  height: 5.57px;
}

.group-child23,
.group-child24 {
  top: 105.08px;
  width: 149.66px;
}

.group-child24 {
  left: 190.26px;
  width: 33.43px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}

.group-child25,
.group-child26,
.group-child27,
.group-child28,
.group-child29,
.group-child30 {
  position: absolute;
  top: 131.35px;
  left: 112.24px;
  background-color: var(--color-gainsboro);
  width: 95.53px;
  height: 5.57px;
}

.group-child26,
.group-child27,
.group-child28,
.group-child29,
.group-child30 {
  left: 0;
  width: 97.12px;
}

.group-child27,
.group-child28,
.group-child29,
.group-child30 {
  top: 157.62px;
  left: 149.66px;
  width: 58.11px;
}

.group-child28,
.group-child29,
.group-child30 {
  left: 0;
  width: 128.16px;
}

.group-child29,
.group-child30 {
  top: 183.89px;
  left: 97.12px;
  width: 70.85px;
}

.group-child30 {
  left: 0;
  background-color: var(--color-midnightblue);
  width: 81.99px;
}

.group-child31,
.group-child32,
.group-child33 {
  position: absolute;
  top: 210.16px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 207.77px;
  height: 5.57px;
}

.group-child32,
.group-child33 {
  top: 236.43px;
  left: 134.53px;
  background-color: var(--color-midnightblue);
  width: 73.24px;
}

.group-child33 {
  left: 0;
  background-color: var(--color-gainsboro);
  width: 117.02px;
}

.rectangle-group {
  position: relative;
  width: 208px;
  height: 242px;
}

.group-parent {
  position: absolute;
  top: 52px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 861px;
}

.deadline,
.faculty-name,
.fields,
/* .project-name, */
.university-name {
  margin: 0;
  position: relative;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  -webkit-text-stroke: 0.3px #fff;
}

.project-name {
  font-size: var(--font-size-21xl);
  font-weight: 700;
  width: 340px;
  padding-bottom: 30;
}

.deadline,
.faculty-name,
.fields,
.university-name {
  font-size: inherit;
  font-weight: 400;
  width: 126.29px;
  height: 26.46px;
}

.deadline,
.fields,
.university-name {
  width: 149.46px;
}

.deadline,
.fields {
  width: 84.58px;
}

.fields {
  width: 56.77px;
}

.project-name-parent {
  width: 333 px;
  height: 150 px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.details {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-times-new-roman);
  color: var(--color-white);
  text-align: center;
}

.details-wrapper,
.frame-parent {
  border-radius: var(--br-3xs);
  display: flex;
  justify-content: flex-start;
}

.details-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-mediumblue);
  padding: var(--padding-xs) var(--padding-148xl) var(--padding-xs)
    var(--padding-124xl);
  background-color: var(--color-mediumblue);
  box-sizing: border-box;
  width: 361px;
  flex-direction: row;
  align-items: flex-start;
}

.frame-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 5px 1px rgba(105, 105, 105, 0.25);
  border: 1px solid var(--color-black);
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-13xl);
  align-items: center;
  gap: var(--gap-23xl);
}

.search-result-page-inner {
  position: absolute;
  top: 670px;
  left: 335px;
  width: 425px;
  height: 350.77px;
}

.project-name1 {
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 700;
  display: inline-block;
  width: 240px;
  height: 52.92px;
  flex-shrink: 0;
  -webkit-text-stroke: 0.3px #fff;
}

.group-div {
  position: absolute;
  top: 1045px;
  left: 335px;
  width: 425px;
  height: 350.77px;
}

.search-result-page-inner1,
.search-result-page-inner2 {
  position: absolute;
  top: 670px;
  left: 783px;
  width: 425px;
  height: 350.77px;
}

.search-result-page-inner2 {
  top: 1045px;
}

.apply-assistant {
  margin: 0;
  position: absolute;
  top: 218px;
  left: 512px;
  font-size: var(--font-size-21xl);
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  -webkit-text-stroke: 0.3px #fff;
}

.academic-project,
.where-your-find {
  position: absolute;
  top: 267px;
  font-size: var(--font-size-5xl);
  text-align: center;
  -webkit-text-stroke: 0.1px #fff;
}

.about {
  position: absolute;
  top: 280px;
  left: 530px;
  cursor: pointer;
  font-size: var(--font-size-5xl);
  text-align: center;
  -webkit-text-stroke: 0.1px #fff;
}
.where-your-find {
  margin: 0;
  left: 430px;
  font-weight: 400;
  font-family: inherit;
}

.academic-project {
  left: 683px;
  font-style: italic;
}

.aa {
  margin: 0;
  position: absolute;
  top: 85px;
  left: 568px;
  font-size: 128px;
  letter-spacing: -0.33em;
  font-weight: 400;
  font-family: inherit;
}

.rectangle-icon,
.search-result-page-item {
  position: absolute;
  top: 297px;
  left: 683px;
  width: 171.5px;
  height: 1px;
}

.rectangle-icon {
  top: 637px;
  left: 470px;
  width: 342px;
  height: 9px;
  object-fit: cover;
}

.active-projects {
  position: absolute;
  top: 591px;
  left: 486px;
  font-size: var(--font-size-29xl);
  font-weight: 700;
  text-align: center;
  -webkit-text-stroke: 0.3px #fff;
}

.line-div {
  position: absolute;
  top: 352.75px;
  left: -73.25px;
  border-top: 0.5px dashed var(--color-black);
  box-sizing: border-box;
  width: 1422.5px;
  height: 0.5px;
}

.search-result-page-child1 {
  position: absolute;
  top: 432px;
  left: 467px;
  width: 342px;
  height: 9px;
  object-fit: cover;
}

.define-a-project {
  position: absolute;
  top: 386px;
  left: 473px;
  font-size: var(--font-size-29xl);
  font-weight: 700;
  text-align: center;
  -webkit-text-stroke: 0.3px #fff;
}

.define-a-project1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 700;
  font-family: var(--font-times-new-roman);
  color: #000697;
  text-align: left;
}

.define-a-project-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-mediumblue);
  padding: 8px 314px;
  height: 390 px;
  background-color: transparent;
  position: absolute;
  top: 474px;
  left: 242px;
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.search-result-page-child2 {
  position: absolute;
  top: 550.75px;
  left: -73.25px;
  border-top: 0.5px dashed var(--color-black);
  box-sizing: border-box;
  width: 1422.5px;
  height: 0.5px;
}

.choose-your {
  position: relative;
  font-weight: 700;
}

.frame-child {
  position: relative;
  width: 6px;
  height: 6px;
}

.field {
  position: relative;
  text-decoration: underline;
  font-weight: 700;
  -webkit-text-stroke: 0.1px #fff;
}

.ellipse-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}

.ai,
.frame-item {
  position: relative;
}

.frame-item {
  cursor: pointer;
  border-radius: var(--br-11xs);
  background-color: var(--color-mediumblue);
  width: 17px;
  height: 17px;
}

.ai {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  -webkit-text-stroke: 0.2px #fff;
}

.rectangle-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}

.frame-inner {
  cursor: pointer;
  position: relative;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}

.frame-parent2,
.frame-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--font-size-base);
}

.frame-parent2 {
  gap: var(--gap-2xs);
  font-size: var(--font-size-lg);
}

.choose-your-parent {
  flex-direction: column;
  gap: 9px;
}

.choose-your-parent,
.frame-parent4,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-wrapper {
  flex-direction: row;
}

.frame-parent4 {
  gap: var(--gap-2xs);
}

.frame-parent4,
.frame-wrapper2 {
  flex-direction: column;
}

.frame-parent1,
.frame-wrapper1,
.frame-wrapper2,
.search-result-page-inner3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-wrapper1 {
  flex-direction: row;
  font-size: var(--font-size-lg);
}

.frame-parent1,
.search-result-page-inner3 {
  flex-direction: column;
}

.frame-parent1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 20px 3px rgba(105, 105, 105, 0.25);
  border: 1px solid var(--color-black);
  padding: 22px 46px;
  gap: 26px;
}

.search-result-page-inner3 {
  position: absolute;
  top: 670px;
  left: 49px;
}

.search-result-page {
  position: relative;
  background-color: #fcfcfc;
  width: 100%;
  height: 1395px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-times-new-roman);
}

/* /////////////////////////////// */
.container {
  width: 65%;
  margin: 0 auto;
}

#prolist {
  height: 700px;
  width: 1850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  overflow-y: scroll;
  position: absolute;
  top: 670px;
  left: 335px;
  width: 925px;
  /* height: 350.77px; */
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
}

.frame-form {
  position: absolute;
  top: 420px;
  left: 5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 5px 1px rgba(105, 105, 105, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 396px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-6xs);
  align-items: center;
  justify-content: space-between;
}

/* .project-name-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
} */

.detaildetaildetaildetaildetail5,
.faculty-name1

/* .faculty-name1, */
/* .project-name  */ {
  position: relative;
  font-size: var(--font-size-21xl);
  -webkit-text-stroke: 0.3px #fff;
}

.project {
  margin: 0;
}

/* .project-name {
  position: relative;
  font-size: var(--font-size-21xl);
  -webkit-text-stroke: 0.3px #fff;
} */

.faculty-name {
  position: relative;
  -webkit-text-stroke: 0.2px #fff;
  width: 300px;
  /* padding: 100px; */
}

.apply-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-mediumblue-100);
  padding: var(--padding-6xs) var(--padding-68xl);
  background-color: var(--color-mediumblue-100);
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.apply {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-times-new-roman);
  color: var(--color-white);
  text-align: left;
}

.frame-section {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 5px 1px rgba(105, 105, 105, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 500px;
  width: 390px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-6xs);
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-xl);
}

.frame-section-premium {
  display: flex;
  margin-bottom: 20px;
  /* padding: 10px; */
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 9px 5px rgba(105, 105, 105, 0.25);
  border: 2px solid var(--color-gold);
  box-sizing: border-box;
  height: 500px;
  width: 390px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* padding: var(--padding-xs) var(--padding-6xs); */
  padding: 12px 20px;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-xl);
}
