.aa1 {
  position: relative;
  letter-spacing: -0.33em;
  color: #000;
}
.container {
  width: 65%;
  margin: 0 auto;
}
.apply-assistant1 {
  position: relative;
  color: #000;
  font-size: var(--font-size-21xl);
  text-align: center;
  -webkit-text-stroke: 0.3px #fff;
  margin-top: -6px;
}
.aa-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.academic-project1 {
  font-weight: 700;
}
.academic-project1,
.collaborator {
  position: relative;
  -webkit-text-stroke: 0.1px #fff;
}
.collaborator1 {
  position: relative;
  cursor: pointer;
  -webkit-text-stroke: 0.1px #fff;
}
.where-your-find-your-next-parent {
  gap: 4px;
  color: #000;
}
.frame-parent9,
.frame-wrapper3,
.where-your-find-your-next-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper3 {
  text-align: center;
  font-size: var(--font-size-xl);
}
.frame-parent9 {
  gap: 15px;
}
.join-a-project {
  position: relative;
  font-weight: 300;
  cursor: pointer;
}
.join-a-project-wrapper {
  
  border-radius: var(--br-5xs);
  /* background-color: var(--color-whitesmoke-100); */
  border:  2px solid #000697;
  color: #000697;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 13px var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.add-a-project {
  position: relative;
  font-weight: 300;
  cursor: pointer;
  -webkit-text-stroke: 0.3px #fff;
}
.add-a-project-wrapper,
.frame-parent10,
.frame-parent8 {
  display: flex;
 

  align-items: flex-start;
  justify-content: flex-start;
}
.add-a-project-wrapper {
  border-radius: var(--br-5xs);
  background-color: #000002;
  border: 1px solid var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) 25px;
  color: var(--color-gainsboro-100);
}
.frame-parent10,
.frame-parent8 {
  flex-direction: column;
}
.frame-parent10 {
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
  color: #010000;
  font-family: var(--font-inter);
}
.frame-parent8 {
  gap: 55px;
}
.van-gogh-almond-blossom-1-icon {
  position: relative;
  border-radius: var(--br-10xs) var(--br-25xl) var(--br-25xl) var(--br-10xs);
  width: 595px;
  height: 503px;
  object-fit: cover;
}
.frame-parent7 {
  display: flex;
  flex-direction: row;
  padding: 51px 0 0;
  align-items: center;
  justify-content: flex-start;
  gap: 49px;
  font-size: var(--font-size-109xl);
  color: var(--color-gainsboro-100);
  font-family: var(--font-times-new-roman);
}
.group-child34,
.group-child35,
.group-child36,
.group-child37 {
  position: absolute;
  top: 0;
  left: 128.72px;
  background-color: var(--color-gainsboro-200);
  width: 27.54px;
  height: 3px;
}
.group-child35,
.group-child36,
.group-child37 {
  left: 0;
  width: 114.95px;
}
.group-child36,
.group-child37 {
  top: 19.76px;
  background-color: var(--color-dodgerblue);
  width: 156.26px;
}
.group-child37 {
  top: 39.51px;
  left: 84.41px;
  width: 71.84px;
}
.group-child38,
.group-child39,
.group-child40,
.group-child41,
.group-child42 {
  position: absolute;
  top: 39.51px;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 73.04px;
  height: 3px;
}
.group-child39,
.group-child40,
.group-child41,
.group-child42 {
  top: 59.27px;
  left: 123.33px;
  width: 32.93px;
}
.group-child40,
.group-child41,
.group-child42 {
  left: 0;
  width: 107.16px;
}
.group-child41,
.group-child42 {
  top: 79.03px;
  left: 151.47px;
  width: 4.79px;
}
.group-child42 {
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 142.49px;
}
.group-child43,
.group-child44,
.group-child45,
.group-child46,
.group-child47,
.group-child48 {
  position: absolute;
  top: 98.78px;
  left: 84.41px;
  background-color: var(--color-gainsboro-200);
  width: 71.84px;
  height: 3px;
}
.group-child44,
.group-child45,
.group-child46,
.group-child47,
.group-child48 {
  left: 0;
  width: 73.04px;
}
.group-child45,
.group-child46,
.group-child47,
.group-child48 {
  top: 118.54px;
  left: 112.55px;
  width: 43.7px;
}
.group-child46,
.group-child47,
.group-child48 {
  left: 0;
  width: 96.39px;
}
.group-child47,
.group-child48 {
  top: 138.3px;
  left: 135.9px;
  width: 20.36px;
}
.group-child48 {
  left: 73.04px;
  background-color: var(--color-dodgerblue);
  width: 53.28px;
}
.group-child49,
.group-child50,
.group-child51,
.group-child52 {
  position: absolute;
  top: 158.05px;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 156.26px;
  height: 3px;
}
.group-child50,
.group-child51,
.group-child52 {
  top: 177.81px;
  left: 101.18px;
  width: 55.08px;
}
.group-child51,
.group-child52 {
  left: 0;
  width: 88.01px;
}
.group-child52 {
  top: 138.3px;
  width: 61.66px;
}
.rectangle-parent12 {
  position: relative;
  filter: blur(7px);
  width: 156.26px;
  height: 180.81px;
}
.apply-assistant3 {
  font-weight: 900;
  font-family: var(--font-inter);
}
.span {
  background: linear-gradient(92.75deg, #6be2ff, #4aa8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}
.span2 {
  background: linear-gradient(92.75deg, #6be2ff, #4aa8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.is-society-of-academic-project {
  font-weight: 200;
  font-size: 25px;

}
.apply-assistant-is-society-of {
  margin: 0;
}
.apply-assistant-is-society-of1 {
  margin: 0;
  cursor: pointer;
}
.owners-and-students {
  letter-spacing: 0.08em;
}
.student,
.you-can-find {
  font-size: 25px;
  font-family: var(--font-inter);
}

.student {
  font-weight: 900;
  background: linear-gradient(92.05deg, #3776ff, #2898ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.you-can-find {
  font-size: 25px;
  font-weight: 200;
  color: var(--color-white);
}
.project-owner {
  font-weight: 900;
  font-family: var(--font-inter);
  background:  rgb(240, 232, 3);
  font-size: 25px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.apply-assistant-is-container {
  position: relative;
  display: inline-block;
  width: 899px;
  flex-shrink: 0;
}
.group-child55,
.group-child56,
.group-child61,
.group-child67 {
  position: absolute;
  top: 19.76px;
  left: 0;
  background-color: var(--color-darkorange-100);
  width: 156.26px;
  height: 3px;
}
.group-child56,
.group-child61,
.group-child67 {
  top: 39.51px;
  left: 84.41px;
  width: 71.84px;
}
.group-child61,
.group-child67 {
  top: 79.03px;
  left: 0;
  width: 142.49px;
}
.group-child67 {
  top: 138.3px;
  left: 73.04px;
  width: 53.28px;
}
.group-container {
  display: flex;
  flex-direction: row;
  padding: 30px 0 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-15xl);
  text-align: center;
  color: var(--color-white);
}
.from {
  color: black;
}
.partners-from {
  color: #000;
  position: relative;
  -webkit-text-stroke: 0.3px #fff;
}
.yale-university-logo-png-2-3-icon {
  position: relative;
  width: 64px;
  height: 69px;
  object-fit: cover;
}
.university-of-edinburgh-logo-3-icon {
  position: relative;
  width: 68px;
  height: 67px;
  object-fit: cover;
}
.px-logo-epfl-3-icon,
.stanford-university-logo-1-3 {
  position: relative;
  width: 45px;
  height: 59px;
  object-fit: cover;
}
.px-logo-epfl-3-icon {
  width: 108px;
  height: 32px;
}
.google-g-logo-2-icon,
.mit-massachusetts-institute-of-icon,
.ssc-icon {
  position: relative;
  width: 87px;
  height: 50px;
  object-fit: cover;
}
.google-g-logo-2-icon,
.ssc-icon {
  width: 51.3px;
  height: 51.15px;
}
.google-g-logo-2-icon {
  width: 50px;
  height: 52px;
}
.university-of-maryland-seal-3-icon {
  position: relative;
  width: 68px;
  height: 68px;
  object-fit: cover;
}
.px-university-of-california-s-icon {
  position: relative;
  width: 69px;
  height: 69px;
  object-fit: cover;
}
.yale-university-logo-png-2-3-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.partners-from-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37px;
  font-size: var(--font-size-xl);
}
.constantin-qkbw0vqj9q4-unsplas-icon {
  position: absolute;
  top: 0;
  left: 2px;
  border-radius: var(--br-xl);
  width: 441px;
  height: 365px;
  object-fit: cover;
}
.group-child72 {
  position: absolute;
  top: 1px;
  left: 0;
  background: linear-gradient(107.43deg, #000 28.13%, transparent 80.73%);
  width: 298px;
  height: 364px;
}
.constantin-qkbw0vqj9q4-unsplas-parent {
  position: absolute;
  top: 0;
  left: -2px;
  width: 443px;
  height: 365px;
}
.student1 {
  font-weight: 700;
  color: var(--color-cornflowerblue);
}
.i-am-a-container {
  color: #000;
  position: relative;
  cursor: pointer;
}
.looking-for-a-container {
  position: relative;
  font-size: var(--font-size-5xl);
}
.i-am-a-student-parent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frame-parent12,
.i-am-a-student-parent,
.see-some-projects-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.see-some-projects-wrapper {
  border-radius: var(--br-5xs);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frame-parent12 {
  position: absolute;
  top: 47px;
  left: 30px;
  flex-direction: column;
  gap: 152px;
}
.group-parent1 {
  position: relative;
  width: 441px;
  height: 365px;
  overflow: hidden;
  flex-shrink: 0;
}
.constantin-db39l3yluy8-unsplas-icon {
  position: absolute;
  top: 0;
  left: 7px;
  border-radius: var(--br-xl);
  width: 441px;
  height: 360px;
  object-fit: cover;
}
.group-child73 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(107.43deg, #000 28.13%, transparent 80.73%);
  width: 298px;
  height: 364px;
}
.constantin-db39l3yluy8-unsplas-parent {
  position: absolute;
  top: 5px;
  left: -7px;
  width: 448px;
  height: 364px;
}
.project-owner1 {
  font-weight: 700;
  color: var(--color-sandybrown);
}
.i-am-a-project-owner-parent {
  position: absolute;
  top: 47px;
  left: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.define-a-project-container,
.frame-parent11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.define-a-project-container {
  position: absolute;
  top: 300px;
  left: 36px;
  border-radius: var(--br-5xs);
  background-color: var(--color-sandybrown);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-xs);
  font-size: var(--font-size-base);
  color: #0d0000;
}
.frame-parent11 {
  gap: var(--gap-15xl);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-times-new-roman);
}
.apply {
  background: linear-gradient(93.82deg, #4cacff, #336cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.d64c0552-e208-4926-8c14-300edb-icon,
.group-child74 {
  position: absolute;
  top: 0;
  border-radius: var(--br-3xs);
  height: 163px;
}
.group-child74 {
  left: 0;
  background: linear-gradient(
    180deg,
    #f5f6fb,
    #f2fbfa 35.42%,
    #f0faf9 68.23%,
    #eff9fb
  );
  box-shadow: 0 4px 20px 3px rgba(105, 105, 105, 0.25);
  width: 441px;
}
.d64c0552-e208-4926-8c14-300edb-icon {
  left: 279px;
  width: 162px;
  object-fit: cover;
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 441px;
  height: 163px;
}
.artificial-intelligence {
  position: relative;
  background: linear-gradient(102.53deg, #3776ff, #2799ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ai-ml-vision {
  position: relative;
  font-size: var(--font-size-xl);
}
.artificial-intelligence-parent {
  position: absolute;
  top: 21px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.group-parent4 {
  position: relative;
  width: 441px;
  height: 163px;
}
.b6d72ae9-bd78-4ba3-bef6-920ab9-icon,
.group-child75 {
  position: absolute;
  top: 0;
  border-radius: var(--br-3xs);
  height: 163px;
}
.group-child75 {
  left: 0;
  background: linear-gradient(
    180deg,
    #f7f8fa,
    #f7f8fa 35.42%,
    #f2f8f8 53.65%,
    #edf2f6 68.75%,
    #eaeff5 85.94%,
    #e3eaf0
  );
  box-shadow: 0 4px 20px 3px rgba(105, 105, 105, 0.25);
  width: 441px;
}
.b6d72ae9-bd78-4ba3-bef6-920ab9-icon {
  left: 283px;
  width: 158px;
  object-fit: cover;
}
.systems {
  position: relative;
  background: linear-gradient(97.21deg, #3776ff, #2897ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.group-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.group-child76 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    180deg,
    #edf1fd,
    #f1f1fd 30.21%,
    #f0f0fc 66.15%,
    #e7ecff
  );
  box-shadow: 0 4px 20px 3px rgba(105, 105, 105, 0.25);
  width: 441px;
  height: 163px;
}
.d59f396-f720-4833-864f-7b7837e-icon {
  position: absolute;
  top: 0;
  left: 281px;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  width: 157px;
  height: 163px;
  object-fit: cover;
}
.theory {
  position: relative;
  background: linear-gradient(96.32deg, #3882c5, #3776ff 0.01%, #2898ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ea559a61-47c5-4f24-82d4-f91334-icon,
.group-child77 {
  position: absolute;
  top: 0;
  border-radius: var(--br-3xs);
  height: 163px;
}
.group-child77 {
  left: 0;
  background: linear-gradient(
    180deg,
    #f9f9f9,
    #f8f6f7 23.96%,
    #ecf3f9 66.67%,
    #e5eef7
  );
  box-shadow: 0 4px 20px 3px rgba(105, 105, 105, 0.25);
  width: 441px;
}
.ea559a61-47c5-4f24-82d4-f91334-icon {
  left: 284px;
  width: 157px;
  object-fit: cover;
}
.interdisciplinary {
  position: relative;
  background: linear-gradient(91.41deg, #3776ff, #2898ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fields-to-apply-for-parent,
.frame-parent13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent13 {
  gap: var(--gap-7xl);
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray);
  font-family: var(--font-times-new-roman);
}
.fields-to-apply-for-parent {
  gap: var(--gap-9xl);
  font-size: var(--font-size-21xl);
}
.stats {
  position: relative;
  background: linear-gradient(92.75deg, #6be2ff, #4aa8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.best {
  font-family: var(--font-inter);
}
.best-place-to-container {
  position: relative;
  background: linear-gradient(88.21deg, #3675ff, #002c8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 233px;
}
.vector-icon {
  position: absolute;
  top: 26px;
  left: 37.5px;
  border-radius: var(--br-11xs);
  width: 355.5px;
  height: 133.5px;
}
.project-successful-collaborati {
  position: absolute;
  top: 0;
  left: 95px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 207px;
}
.successfully-collaborated-rate {
  position: absolute;
  top: 147px;
  left: 0;
  font-weight: 300;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.span3 {
  font-size: var(--font-size-7xs);
}
.div,
.div1 {
  left: 20px;
  font-weight: 300;
}
.div {
  position: absolute;
  top: 138px;
}
.div1 {
  top: 82px;
}
.b,
.div1,
.div2 {
  position: absolute;
}
.div2 {
  top: 21px;
  left: 16px;
  font-weight: 300;
}
.b {
  top: 37px;
  left: 17.24px;
  font-size: var(--font-size-3xs);
}
.applyfinder {
  left: 233px;
}
.applyfinder,
.other-ways,
.word-of-mouth {
  position: absolute;
  top: 170px;
  font-weight: 300;
}
.word-of-mouth {
  left: 144px;
  display: inline-block;
  width: 57px;
}
.other-ways {
  left: 69px;
}
.apply-assistant4 {
  position: absolute;
  top: 169px;
  left: 299.24px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  color: #0046e0;
  width: 79px;
}
.group-child78,
.group-child79 {
  background-color: var(--color-royalblue-200);
  border-top: 0.5px solid var(--color-royalblue-100);
  border-right: 0.5px solid var(--color-royalblue-100);
  border-left: 0.5px solid var(--color-royalblue-100);
  box-sizing: border-box;
  width: 37px;
}
.group-child78 {
  position: absolute;
  top: 98px;
  left: 237px;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  height: 61px;
}
.group-child79 {
  top: 108px;
  left: 153px;
  height: 51px;
}
.group-child79,
.group-child80,
.group-child81 {
  position: absolute;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
}
.group-child80 {
  top: 43px;
  left: 320px;
  background: linear-gradient(174.92deg, #3675ff, #0046e0);
  width: 38px;
  height: 116px;
}
.group-child81 {
  top: 145px;
  left: 72px;
  background-color: var(--color-royalblue-200);
  border-top: 0.5px solid var(--color-royalblue-100);
  border-right: 0.5px solid var(--color-royalblue-100);
  border-left: 0.5px solid var(--color-royalblue-100);
  box-sizing: border-box;
  width: 37px;
  height: 14px;
}
.group-child82 {
  position: absolute;
  top: 43.75px;
  left: 39.24px;
  border-radius: var(--br-66xl);
  width: 286px;
  height: 0.5px;
}
.vector-parent {
  position: relative;
  width: 393px;
  height: 181px;
  font-size: var(--font-size-5xs);
}
.best-place-to-find-an-academic-parent {
  border-radius: var(--br-3xs);
  background: linear-gradient(180deg, #fff, #e1e1e1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-3xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.best-place-to-container1 {
  position: relative;
  background: linear-gradient(88.21deg, #eeff00, #f7f30a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 233px;
}
.group-child83 {
  position: absolute;
  top: 143.75px;
  left: 41.24px;
  border-radius: var(--br-66xl);
  width: 32px;
  height: 0.5px;
}
.group-child84,
.group-child85,
.group-child86,
.group-child87 {
  position: absolute;
  top: 108.75px;
  left: 41px;
  border-radius: var(--br-66xl);
  width: 95px;
  height: 0.5px;
}
.group-child85,
.group-child86,
.group-child87 {
  top: 69.75px;
  width: 235px;
}
.group-child86,
.group-child87 {
  top: 33.5px;
  width: 311px;
  height: 1px;
}
.group-child87 {
  top: 44px;
  left: 351.5px;
  width: 1px;
  height: 112px;
}
.group-child88,
.group-child89,
.group-child90,
.group-child91 {
  position: absolute;
  top: 73px;
  left: 280.75px;
  border-radius: var(--br-66xl);
  width: 0.5px;
  height: 83px;
}
.group-child89,
.group-child90,
.group-child91 {
  top: 100px;
  left: 213.75px;
  height: 56px;
}
.group-child90,
.group-child91 {
  top: 102px;
  left: 145.75px;
  height: 54px;
}
.group-child91 {
  top: 147px;
  left: 75.99px;
  height: 11px;
}
.total-adapted-students {
  position: absolute;
  top: 0;
  left: 138px;
  font-size: var(--font-size-3xs);
}
.total-adapted-students1 {
  position: absolute;
  top: 133px;
  left: 0;
  font-weight: 300;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.k {
  position: absolute;
  top: 138px;
}
.k,
.k1,
.k2 {
  left: 16px;
  font-weight: 300;
}
.k1 {
  position: absolute;
  top: 104px;
}
.k2 {
  top: 65px;
}
.div3,
.k2,
.k3 {
  position: absolute;
}
.k3 {
  top: 26px;
  left: 8.24px;
  font-size: var(--font-size-3xs);
  color: #f5dd00;
}
.div3 {
  left: 271px;
}
.div3,
.div4,
.div5 {
  top: 170px;
  font-weight: 300;
}
.div4 {
  position: absolute;
  left: 68px;
}
.div5 {
  left: 204px;
}
.b1,
.div5,
.div6 {
  position: absolute;
}
.div6 {
  top: 170px;
  left: 136px;
  font-weight: 300;
}
.b1 {
  top: 168px;
  left: 339.24px;
  font-size: var(--font-size-3xs);
  color: #e3df00;
}
.group-child93 {
  position: absolute;
  top: 26.94px;
  left: 75.49px;
  border-radius: var(--br-66xl);
  width: 281.01px;
  height: 118.1px;
}
.vector-group {
  position: relative;
  width: 393px;
  height: 180px;
  font-size: var(--font-size-5xs);
}
.best-place-to-find-an-academic-group {
  border-radius: var(--br-3xs);
  background: linear-gradient(180deg, #151515, #151515);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-5xl);
  gap: var(--gap-lg);
  color: var(--color-white);
}
.best-place-to-find-an-academic-group,
.frame-parent14,
.stats-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent14 {
  flex-direction: row;
  gap: 36px;
  font-size: var(--font-size-5xl);
}
.stats-parent {
  flex-direction: column;
  gap: var(--gap-9xl);
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.frame-child10 {
  position: absolute;
  top: -16.35px;
  left: -0.35px;
  border-radius: var(--br-9xs);
  width: 32.71px;
  height: 32px;
}
.vector-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 16px;
  height: 32px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.how-much-does-it-cost-to-us-aa-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 130px;
  font-size: 20px;
}
.is-aa-for-specific-country-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 130px;
  font-size: 20px;
}
.how-much-does-it-cost-to-us-aa-parent .answer {
  display: none;
  font-size: 13px;
}
.is-aa-for-specific-country-parent .answer2 {
  display: none;
  font-size: 13px;
}
.frame-wrapper4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90.06deg, #fff 82.93%, #edf100);
  box-shadow: 0 4px 20px 3px rgba(105, 105, 105, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-15xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child111 {
  position: absolute;
  top: 1.16px;
  left: -0.35px;
  border-radius: var(--br-9xs);
  width: 32.71px;
  height: 32px;
}
.frame-child11 {
  position: absolute;
  top: 1.16px;
  left: -0.35px;
  border-radius: var(--br-9xs);
  width: 32.71px;
  height: 32px;
}
.vector-container1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 16px;
  height: 32px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.vector-container2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 16px;
  height: 32px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.no-you-can {
  margin: 0;
  padding-left: 27px;
}
.no-you-can-container {
  position: relative;
  font-size: var(--font-inherit);
  font-weight: 300;
  font-family: var(--font-inherit);
}
.frame-parent16,
.frame-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent16 {
  gap: var(--gap-smi);
}
.frame-wrapper5 {
  position: absolute;
  top: 75px;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90.63deg, #fff 82.81%, #4aa8ff);
  box-shadow: 0 4px 20px 3px rgba(105, 105, 105, 0.25);
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-15xl);
}
.frame-parent15 {
  position: relative;
  width: 916px;
  height: 171px;
  font-size: var(--font-size-5xl);
}
.all-rights-reserved,
.developed-by-sad {
  position: absolute;
  top: 0;
  left: calc(50% - 458px);
  font-weight: 300;
}
.developed-by-sad {
  left: calc(50% - 77.76px);
}
.email {
  font-weight: 300;
}
.applyassistantprgmailcom {
  font-weight: 500;
}
.email-applyassistantprgmail {
  position: absolute;
  top: 0;
  left: calc(50% + 250px);
}
.all-rights-reserved-parent,
.frame-child12 {
  position: relative;
  width: 916px;
  height: 15px;
  z-index: 1;
}
.frame-child12 {
  border-radius: var(--br-165xl-5);
  background: linear-gradient(
    93.64deg,
    #00244b,
    #00244b 33.33%,
    #642a00 64.06%,
    #875100
  );
  filter: blur(200px);
  width: 993px;
  height: 147px;
  z-index: 0;
}
.frame-parent6,
.group-parent9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.group-parent9 {
  padding: var(--padding-27xl) 0 0;
  font-size: var(--font-size-xs);
  color: var(--color-lavender);
}
.frame-parent6 {
  position: absolute;
  top: 81px;
  left: 0;
  gap: 94px;
}
.landing-page-child {
  position: absolute;
  top: 1089px;
  left: -40px;
  border-radius: var(--br-165xl-5);
  background: linear-gradient(
    93.64deg,
    #012f6e,
    #015b92 31.25%,
    #0080b2 78.65%,
    #00a0cc
  );
  filter: blur(200px);
  width: 143px;
  height: 147px;
}
.frame-child13,
.landing-page-item {
  position: absolute;
  top: 679.82px;
  left: 631.82px;
  width: 16.35px;
  height: 29.33px;
}
.frame-child13 {
  top: 1.06px;
  left: -10.12px;
  width: 41.18px;
  height: 54.12px;
}
.vector-frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 16px;
  height: 32px;
  transform: rotate(270deg);
}
.aa-icon {
  position: relative;
  width: 37px;
  height: 23px;
}
.aa-group,
.frame-parent17 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.aa-group {
  align-items: flex-end;
  gap: var(--gap-23xl);
}
.frame-parent17 {
  position: absolute;
  top: 42px;
  left: 86px;
  align-items: center;
  gap: 97px;
  font-size: var(--font-size-base);
  color: var(--color-gainsboro-100);
  font-family: var(--font-times-new-roman);
}
.landing-page-child1,
.landing-page-inner {
  position: absolute;
  left: -40px;
  border-radius: var(--br-165xl-5);
  filter: blur(200px);
  width: 143px;
  height: 147px;
}
.landing-page-inner {
  top: 1757px;
  background: linear-gradient(93.64deg, #f2feff, #3c9fff 56.25%, #2a92ff);
}
.landing-page-child1 {
  top: 2307px;
  background: linear-gradient(93.64deg, #3473f7, #1e54ca 56.25%, #3472f8);
}
.landing-page-child2 {
  top: 1757px;
  left: 1168px;
  background: linear-gradient(93.64deg, #6e0069, #3678ff 54.69%, #2896ff);
}
.landing-page-child2,
.landing-page-child3,
.landing-page-child4 {
  position: absolute;
  border-radius: var(--br-165xl-5);
  filter: blur(200px);
  width: 143px;
  height: 147px;
}
.landing-page-child3 {
  top: 2307px;
  left: 1168px;
  background: linear-gradient(93.64deg, #f1ee2b, #f1f510 54.69%, #fffb00);
}
.landing-page-child4 {
  top: 1089px;
  left: 1194px;
  background:  linear-gradient(93.64deg, #f1ee2b, #f1f510 54.69%, #fffb00);
}
.landing-page {
  position: relative;
  /* background-color: var(--color-black); */
  width: 100%;
  height: 3180px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-whitesmoke-100);
  font-family: var(--font-inter);
  background-color: white;

}
